html {
    height: 100%;
}

#body {
    background-image: url("../Images/brickwall/brickwall.png");
    background-position: center;
    background-attachment: fixed;
    font-family: 'Maven Pro', sans-serif;
    min-height: 100%;
    position: relative;
}

#menu {
    font-family: 'Indie Flower', cursive;
    font-size: larger;
    background-color: rgba(135,206,250,0.7);
    margin-top: -20px;
    height: 50px;
}

#brand {
    font-weight: bolder;
    font-size: 26px;
    color: white;
}

#item-menu {
    padding: 0 30px;
    color: white;
}

strong {
    font-weight: bolder;
    font-size: larger;
    color: #87CEFA	;
}

#profi {
    padding-bottom: 20px;
    font-family: 'Indie Flower', cursive;
    font-size: larger;
    border: 1px dotted gray;
    padding-left: 20px;
    padding-top: 20px;
    margin-right: 30%;
}

#bouton {
    background-color: #87CEFA;
}

#bouton:hover {
    background-color: #BBD2E1;
}

.margin {
    margin-top: 5px;
    margin-bottom: 10px;
}

.align {
    width: 50%;
    margin: 0 auto;
}

.aligncenter {
    width: 50%;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

#arti {
    background-color: rgba(255,255,255,0.8);
    background-position: center center;
    margin: 20px 100px 20px 100px;
    padding: 20px 30px;
    overflow: hidden;
}

#shop {
    margin-left: 10px;
    margin-right: 10px;
}

#shop_cases {
    margin-bottom: 10px;
    border: 1px solid darkgray;
    border-radius: 5px;
    background-color: white;
}

#divg {
    float:left;
    width:50%;
    height:100%;
    border-right:1px solid #CCC;
}

#divd {
    float: right;
    padding-left: 20px;
    width:50%;
    height:100%;
    margin-top: -12px;
}

#profi {
    margin-bottom: 20px;
    margin-top: 10px;
}

#form:focus {
    background-color: transparent;
    border-color: #87CEFA;
}

.item {
    color: white;
}

.liens {
    color: #87CEFA;
}

.liens:hover {
    color: #BBD2E1;
}

footer {
    height: 50px;
    width: 100%;
    background-color: rgba(135,206,250,0.7);
    font-family: 'Indie Flower', cursive;
    font-size: large;
    padding-left: 20px;
    position: relative;
    bottom: 0;
    margin-top: 40px;
}

@media screen and (max-width:770px) {
    #arti {
        width: auto;
        margin: 5px;
    }
    #divg {
        float: none;
        width: auto;
    }
    #divd {
        float: none;
        width: auto;
        padding: 0;
    }
    #menu {
        margin-bottom: 50px;
    }
    #item-menu {
        height: 50px;
        background-color: #87CEFA;
    }
}
